// sass-lint:disable clean-import-paths
@import './../global/variables.sass'


.scroll-btn-elemenet
  background: $tomato
  height: 200px
  position: absolute
  top: 200vh
  width: 200px

.scroll-demo
  button
    background: $dark-grey
    color: $white
    margin-bottom: 20px
    padding: 10px
